<div class="container" id="home-container">
  <div class="jumbotron bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Hello, Employees!</h1>
    <p class="lead">Welcome to Daily status update Application.</p>
    <hr class="my-4">
    <p>Click below button for create the new status update</p>
    <%= link_to "Create", new_status_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>
