<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <h1 class="display-4" id="logo">Daily Status</h1>
  </div>
</nav>

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Hello, Employees!</h1>
  <p class="lead">Welcome to Daily status update Application.</p>
  <hr class="my-4">
  <p>Click below button for create the new status update</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create</a>
</div>