<h1 class="text-center mt-4">Status History</h1>

<table style="width:50%" class="center">
  <tr>
    <th>Date</th>
    <th>Tasks</th> 
    <th>PR Links</th>
    <th>Hours</th>
  </tr>
    <% @statuses.each do |status| %>
    <tr>
      <td><%= status.date %></td>
      <td><%= status.tasks %></td>
      <td><%= status.pr_links %></td> 
      <td><%= status.hours %></td>
    </tr>
    <% end %>
</table>



